JWT_SECRET= # SUA CHAVE SECRETA AQUI
JWT_REFRESH_SECRET= # CHAVE SECRETA DO REFRESH TOKEN
MONGO_URL= # URL DO BANCO DE DADOS
GEMINI_API_KEY= # CHAVE DA API DO GEMINI
GOOGLE_CLIENT_ID= # CLIENT ID DO GOOGLE OAUTH
RESEND_API_KEY= # CHAVE DA API DO RESEND
RESEND_FROM_EMAIL= # EMAIL REMETENTE (ex: noreply@seudominio.com)
CLOUDINARY_CLOUD_NAME= # NOME DA SUA CLOUD CLOUDINARY
CLOUDINARY_API_KEY= # CHAVE DA API DO CLOUDINARY
CLOUDINARY_API_SECRET= # SENHA DA API DO CLOUDINARY
FRONTEND_URL= # URL DO FRONT
REDIS_URL= # CONEXAO DO REDIS
